---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { CheckIcon } from "@radix-ui/react-icons";
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";


interface Props {
  title?: string | undefined;
  desc?: string | undefined;
  button?: string | undefined;
  link?: string | undefined;
  className?: string | undefined;
}

const { title, desc, button, link, className } = Astro.props;
---

<Card className={cn("w-full ", className)}>
  <CardHeader>
    <CardTitle>{title}</CardTitle>
    <CardDescription>{desc}</CardDescription>
  </CardHeader>
  <CardContent className="grid gap-4">
    <slot />
  </CardContent>
  <CardFooter className="flex justify-center w-full align-bottom  mt-[122px]">
    <a href={link} class="w-full">
      <Button className="w-full font-semibold">
        <CheckIcon className="mr-2 h-4 w-4" />
        {button}
      </Button>
    </a>
  </CardFooter>
</Card>
